.mobile-camera-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.mobile-camera-container label {
    background-color: #80808036;
    padding: 15px;
    border-radius: 8px;
    margin: 1rem;
}

.image-gallery-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}

.image-gallery-container .image-container {
  position: relative;
  width: calc(50% - 5px);
}

.image-gallery-container .image-container img {
  object-fit: cover;
  width: 100%;
  pointer-events: none;
  border-radius: 8px;
}

.image-gallery-container .image-container .image-controler {
  display: flex;
  flex-flow: row;
  column-gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  z-index: 1;
}

.image-gallery-container .image-container .image-selected-symbol {
  display: none;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid green;
  background-color: white;
  
}

.image-gallery-container .image-container .image-selected-symbol::after {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.active {
  display: block !important;
}

.deactive {
  display: none !important;
}