
<div class="submit-container">
    <span>Number of photos selected is : {{ (selectedPhotoList$ | async) }}</span>
    <button>Send</button>
</div>

<ng-container *ngIf=" (readablePhotoList$ | async) as readablePhotoList " >

    <div class="image-gallery-container">

        <div class="image-container" *ngFor="let photoSource of readablePhotoList; let imgIndex = index">
            
            <img [src]="photoSource" 
                 alt="none" 
                 height="200" 
                 [id]=" 'image_' + (imgIndex + 1) " 
                 (click)="selectPhoto('image_' + (imgIndex + 1))">

            <div class="image-selected-symbol"></div>
        </div>

    </div>

    <div class="mobile-camera-container">

        <input type="file" id="photo" #photoSource hidden accept="image/*" capture="camera" (change)="TakePhoto(photoSource)" />
    
        <label class="select-all" (click)="selectAllPhoto()" >Select All</label>
        <label for="photo" class="take-photo">Take Photo</label>
        <label class="delete-all" (click)="deleteAllPhoto()">Delete All</label>
    
    </div>

</ng-container>



