
<div class="mobile-camera-container">

    <input type="file" id="photo" #photoSource hidden accept="image/*" capture="camera" (change)="onChangeTakePhoto(photoSource)" />
    <label for="photo">Take Photo</label>

    
</div>



<ng-container *ngIf=" (readablePhotoList$ | async) as readablePhotoList " >

    <div class="image-gallery-container">

        <div class="image-container" *ngFor="let photoSource of readablePhotoList; let imgIndex = index">
            <img [src]="photoSource" alt="none" height="200" [id]="imgIndex" (click)="selectPhoto(imgIndex)">
            <div class="image-selected-symbol"></div>
        </div>

    </div>

</ng-container>


{{ (selectedPhotoList$ | async) }}