
<div class="mobile-camera-container">

    <input type="file" id="photo" #photoSource hidden accept="image/*" capture="camera" (change)="onChangeTakePhoto(photoSource)" />
    <label for="photo">Take Photo</label>

    
</div>



<ng-container *ngIf=" (photoSourceList$ | async) as photoSourceList " >

    <div class="image-gallery-container">

        <div class="image-container" *ngFor="let photoSource of photoSourceList; let imgIndex = index">
            <img [src]="photoSource" alt="none" height="200" [id]="imgIndex">
            <div class="image-controler">
                <i class="medium material-icons image-delete-controler" (click)="deletePhoto(photoSource)">delete_outline</i>
                <i class="medium material-icons image-select-controler" (click)="selectPhoto(imgIndex)">check</i>
            </div>
            <div class="image-selected-symbol"></div>
        </div>

    </div>

</ng-container>


